@import './../styles/variables';

.booking-page {
	margin: 60px;

	.time-check,
	.room-info,
	.summary-price,
	.customer-info,
	.policy,
	.payment {
		padding: 10px;
		border: 2px solid $main-text-color;
		margin-top: 20px;
	}

	.time-check {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.room-info {
		margin: unset;
		margin-top: 20px;

		.total-price {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}
}
