@import './../styles/_variables';
@import './../styles/mixin';

Link:hover {
	color: $main-text-color;
}

.header {
	width: 100%;
	font-family: $Montserrat;
	height: fit-content;

	&__nav {
		left: 0;
		transform: translateY(50%);
		width: 100%;
		position: fixed;
		background-color: $dark-blue;
		z-index: 1000;

		&__content {
			font-weight: 500;
			padding: 2vw 2vw;
			width: 100%;
			display: flex;
			padding-left: 0;

			&__items {
				width: 100%;
				font-size: 1.6vw;
				list-style: none;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				margin-bottom: 0;

				&__link {
					color: $main-text-color;
					text-decoration: none;

					&::after {
						content: '';
						width: 0%;
						height: 2px;
						background: $yellow;
						display: block;
						margin-top: 0;
						transition: 0.5s;
					}
					&:hover {
						color: $main-text-color;
					}
					&:hover::after {
						width: 100%;
						margin-top: 5px;
						text-decoration: none;
						color: $main-text-color;
					}
				}

				&__logo {
					width: 12vw;
					height: auto;
					margin: 0 40px;
					@include maxWidth(1200px) {
						width: 180px;
					}
				}
			}
		}

		&__toggle {
			display: none;
			@include maxWidth(768px) {
			}
		}
	}
}
